<div>
  <br>
  <mat-divider style="width: 70%; margin: auto"></mat-divider>
  <br>
  <table mat-table [dataSource]="produtos" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="editarProduto($event, element)"><i class="material-icons">edit</i></button>
        <button mat-button color="warn" (click)="deleteProduto($event, element.id)"><i class="material-icons">delete</i></button>
        <button mat-button color="primary" (click)="criarEditarAgregacoes($event,element)"><i class="material-icons">pages</i></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.Nome}} </td>
    </ng-container>
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.Categoria.nome}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="definirItemProduto($event, row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div style="display: flex; justify-content: center; align-items: center; padding: 10px;">
    <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <br>
  <button mat-raised-button color="primary" (click)="adicionarProduto()">Adicionar Produto</button>
  <br>
  <br>
  <mat-divider style="width: 70%; margin: auto"></mat-divider>
  <br>
</div>
